@using FishShelter.Models
@model RoomModels
@{
    string pic = "";
    string id = ViewData["id"] as string;
    DateTime st = DateTime.UtcNow.AddHours(8).AddDays(1);
    DateTime end = st.AddDays(1);

    string orderUrl = string.Format("https://booking.owlting.com/d9280bbc-1a53-453b-ba40-9a6e1bd8b752?adult=2&child=0&infant=0&start={0}&end={1}", st.ToString("yyyy-MM-dd"), end.ToString("yyyy-MM-dd"));
    string monthPrice = "11月-4月為淡季價格";
    decimal holiDay = Model.winterHoliDay;
    decimal normalDay = Model.winterNormalDay;
    int month = DateTime.UtcNow.AddHours(8).Month;
    if (month > 4 && month < 11) {
        monthPrice = "5月-10月為旺季價格";
        holiDay = Model.summerHoliDay;
        normalDay = Model.summerNormalDay;
    }
}
<script src="~/js/room.js"></script>
<div class="gray-bg">
    <div class="container">
        <div id="room-area1" class="room-padding col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="m-b-30 ma5slider inside-navs outside-dots horizontal-navs horizontal-dots anim-fade inside-dots autoplay"
                 data-tempo="4000">
                <div class="slides">
                    @for (int i = 1; i <= Model.photoCount; i++) {
                        {
                            pic = string.Format("/img/{0}/{1}.jpg", @Model.id, @i);
                        }
                        <img src="@pic" class="img room-pic white-border" style="">
                    }
                </div>
            </div>
            @Html.Partial("Common/_Tabs", Model)
        </div>
        <div id="room-area2" class="room-padding col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-20">
            <h4 class="room-title m-t-10 p-b-20">
                <i class="fas fa-fish fa-sm"></i>@Model.id@Model.name
            </h4>
            <div class="m-t-20">
                @Model.description
            </div>
            <div class="m-t-20 col-xs-7 p-0">
                人數：@string.Format("{0}人", @Model.people)
                <br />
                景觀：@string.Format("{0}樓{1}／{2}坪", @Model.floor, Model.view, @Model.square)
                <br />
                平日：<span class="price">@normalDay.ToString("#,#")元</span>
                <br />
                假日：<span class="price">@holiDay.ToString("#,#")元</span>
                <br />
                <span style="color:#999">（@monthPrice）</span>
            </div>
            <div class="col-xs-5 p-0 text-right animated fadeInRightBig" style="margin-top:115px">
                <a href="@orderUrl" class="btn-blue" target="_blank">
                    <span>立即訂房</span>
                    <i class="fas fa-chevron-right fa-sm"></i>
                </a>
            </div>
        </div>
    </div>
</div>
