@using FishShelter.Models
@model RoomModels
@{
    string pic = "";
    DateTime st = DateTime.UtcNow.AddHours(8).AddDays(1);
    DateTime end = st.AddDays(1);
    string orderUrl = string.Format("https://www.owlting.com/booking/BE/index.html?hid=d9280bbc-1a53-453b-ba40-9a6e1bd8b752&v=ow_20180724&cin={0}&cout={1}",
        st.ToString("yyyy-MM-dd"), end.ToString("yyyy-MM-dd"));
    string a = "";
}
<script src="~/js/room.js"></script>
<div class="gray-bg">
    <div class="container">
        <div id="room-area1" class="room-padding col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div class="m-b-30 ma5slider inside-navs outside-dots horizontal-navs horizontal-dots anim-fade inside-dots autoplay"
                 data-tempo="4000">
                <div class="slides">
                    @for (int i = 1; i <= Model.photoCount; i++)
                    {
                        {
                            pic = string.Format("/img/{0}/{1}.jpg", @Model.id, @i);
                        }
                    <img src="@pic" class="img room-pic white-border" style="">
                    }
                </div>
            </div>
            @Html.Partial("Common/_Tabs", Model)
        </div>
        <div id="room-area2" class="room-padding col-lg-5 col-md-5 col-sm-12 col-xs-12 m-b-20">
            <h4 class="room-title m-t-10 p-b-20">
                <i class="fas fa-fish fa-sm"></i>@Model.id@Model.name
            </h4>
            <div class="m-t-20">
                @Model.description
            </div>
            <div class="m-t-20 col-xs-6 p-0">
                人數：@string.Format("{0}人",@Model.people)
                <br />
                景觀：@string.Format("{0}樓{1}",@Model.floor, Model.view)
                <br />
                平日：<span class="price">@Model.normalDay.ToString("#,#")元</span>
                <br />
                假日：<span class="price">@Model.holiDay.ToString("#,#")元</span>
            </div>
            <div class="col-xs-6 p-0 text-right animated fadeInRightBig" style="margin-top:85px">
                <a href="@orderUrl" class="btn-blue" target="_blank">
                    <span>立即預定</span>
                    <i class="fas fa-chevron-right fa-sm"></i>
                </a>
            </div>
            @*<ul class="m-t-20 hidden-sm hidden-xs">
                    <li class="m-b-5">
                        <a href="tel:0224977536">
                            <i class="fas fa-phone" style="font-size: 1.2em;"></i>
                            (02)2497-7536
                        </a>
                    </li>
                    <li class="m-b-5">
                        <a href="http://bit.ly/2yyd4az" target="_blank">
                            <i class="fab fa-line" style="font-size:1.5em"></i>
                            @@rcn3729
                        </a>
                    </li>
                    <li class="m-b-5">
                        <a href="mailto:service@fishhome15.com" target="_blank">
                            <i class="fas fa-envelope fa-lg"></i>
                            service@fishhome15.com
                        </a>
                    </li>
                </ul>*@
        </div>
    </div>
</div>
