@using FishShelter.Service
@using FishShelter.Models
@{
    RoomService RoomService = new RoomService();
    List<RoomModels> rooms = RoomService.GetData();
}
<table style="width: 100%;line-height: 2.5em !important;">
    <thead>
        <tr>
            <th class="text-center">房型名稱</th>
            <th class="text-center hidden-xs">樓層</th>
            <th class="text-center hidden-xs">入住人數</th>
            <th class="text-center">平日</th>
            <th class="text-center">假日</th>
            <th class="text-center">&emsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in rooms)
        {
            <tr>
                <td class="text-center">@r.id@r.name</td>
                <td class="text-center hidden-xs">@string.Format("{0}樓", @r.floor)</td>
                <td class="text-center hidden-xs">@string.Format("{0}人", @r.people)</td>
                <td class="text-center">$@r.normalDay.ToString("#,#")</td>
                <td class="text-center">$@r.holiDay.ToString("#,#")</td>
                <td class="text-center">&emsp;</td>
            </tr>
        }
        <tr>
            <td class="text-center">包棟</td>
            <td class="text-center hidden-xs">6層</td>
            <td class="text-center hidden-xs">22人</td>
            <td class="text-center" colspan="2">
                優惠洽詢請來電
                <a href="tel:0224977536" style="color: #2f80a0;text-decoration: underline;">(02)2497-7536</a>
                或私訊
                <a href="https://bit.ly/2K5AfgE" target="_blank" style="color: #2f80a0;text-decoration: underline;">FB粉絲專頁</a>、
                <a href="http://bit.ly/2yyd4az" target="_blank" style="color: #2f80a0;text-decoration: underline;">Line</a>
            </td>
            <td class="text-center">&emsp;</td>
        </tr>
    </tbody>
</table>