@using FishShelter.Service
@using FishShelter.Models
@{
    RoomService RoomService = new RoomService();
    List<RoomModels> rooms = RoomService.GetData();
}
<table style="width: 100%;line-height: 2.5em !important;">
    <thead>
        <tr>
            <th class="text-center">房型名稱</th>
            <th class="text-center">樓層</th>
            <th class="text-center">入住人數</th>
            <th class="text-center">平日</th>
            <th class="text-center">假日</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var r in rooms)
        {
            <tr>
                <td class="text-center">@r.id@r.name</td>
                <td class="text-center">@string.Format("{0}樓", @r.floor)</td>
                <td class="text-center">@string.Format("{0}人", @r.people)</td>
                <td class="text-center">$@r.normalDay.ToString("#,#")</td>
                <td class="text-center">$@r.holiDay.ToString("#,#")</td>
            </tr>
        }
    </tbody>
</table>