@using FishShelter.Models
@model RoomModels
<div id="tabs">
    <ul>
        <li>
            <a href="#tabs-1">
                房型說明
            </a>
        </li>
        <li>
            <a href="#tabs-2">
                入住須知
            </a>
        </li>
        <li>
            <a href="#tabs-3">
                訂房須知
            </a>
        </li>
    </ul>
    <div id="tabs-1">
        @*@if (!string.IsNullOrWhiteSpace(Model.subTitle))
        {
            <p>@Model.subTitle</p>
        }*@
        @Html.Partial("Common/_RoomFacilities", Model.roomFacilities)
        @Html.Partial("Common/_PublicFacilities")
        @Html.Partial("Common/_Additional")
    </div>
    <div id="tabs-2">
        @Html.Partial("Common/_Notice")
    </div>
    <div id="tabs-3">
        @Html.Partial("Common/_Reservation")
    </div>
</div>